$brand-color: #4338ca;
$main-color: #18181b;
$primary-color: #27272a;
$secondary-color: #eef2ff;
$tertiary-color: rgba(0, 0, 0, 0.712);

$spacing-xm: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 3.5rem;
$spacing-xxl: 6rem;

$typography-md: normal 400 1rem / normal "Poppins", "sans-serif";
$typography-lg: normal 500 1.5rem / normal "Poppins", "sans-serif";
$typography-xl: normal 700 3rem / normal "Poppins", "sans-serif";

$border-radius: 0.5rem;

$icon-primary: 1.75rem;
$icon-secondary: 1.5rem;
